.model-selector {
  width: auto;
  min-width: 100px;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  background-color: transparent;
  border: none;
  padding: 0;
}

:host ::ng-deep .mat-mdc-form-field-flex {
  align-items: center;
  padding: 0 8px;
}

:host ::ng-deep .model-selector .mat-mdc-form-field-infix {
  min-height: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  width: auto;
}

:host ::ng-deep .mdc-line-ripple {
  display: none;
}

:host ::ng-deep .mat-mdc-select-value {  
  font-size: 13px;
  font-weight: 500;
}