.example-full-width {
    width: 90% !important;
  }
  :host ::ng-deep .mat-mdc-form-field-wrapper {
    padding-bottom: 0;
  }
  :host ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: white;
  }